@model IEnumerable<eProject_BusTicket.ViewModels.TripSVM>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="qoute_content">
        <div class="qoute_child">Find Next Place To Visit</div>
        <div class="qoute_child_small">Discover amazing places at exclusive deals</div>
    </div>

    <form action="/TripSchedules/Index" method="post" class="search">
        <div class="search_from">
            <i class="fas fa-map-marker-alt"></i> From:
            @Html.DropDownList("Origin", ViewBag.Location as SelectList, "Select Origin")
        </div>
        <i class="fas fa-arrow-right"></i>
        <div class="search_to">
            <i class="fas fa-map-marker-alt"></i> To:
            @Html.DropDownList("Destination", ViewBag.Location as SelectList, "Select Destination")
        </div>
        <div class="search_date">
            <i class="far fa-calendar-alt"></i> Date:
            <input name="dateTime" type="date" min="@DateTime.Now.Date.ToString("yyyy-MM-dd")" required />
        </div>
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
    </form>

    <div class="gt">
        <i class="fas fa-globe"></i>
        <div>
            <div class="main">
                100+ DESTINATIONS
            </div>
            <div class="sub">Our expert team handpicked all destinations in this site</div>
        </div>
        <i class="fas fa-dollar-sign"></i>
        <div>
            <div class="main">
                BEST PRICE GUARANTEE
            </div>
            <div class="sub">Price match within 48 hours of order confirmation</div>
        </div>
        <i class="fas fa-handshake"></i>
        <div>

            <div class="main">
                TOP NOTCH SUPPORT
            </div>
            <div class="sub">We are here to help, before, during, and even after your trip.</div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        var select = document.getElementsByTagName("select");
        select.required = true;
    })
</script>