@model PagedList.IPagedList<eProject_BusTicket.Models.BookingTicket>
@using eProject_BusTicket.Areas.Admin.Enum
@using PagedList.Mvc
@{
    ViewBag.Title = "Tickets";
}
<link href="~/Areas/Admin/Assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
<style type="text/css">
    .pagination li a {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #337ab7;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
    }

    .pagination li a:hover {
        z-index: 2;
        color: #23527c;
        background-color: #eeeeee;
        border-color: #ddd;
    }

    .pagination .active a {
        z-index: 3;
        color: #fff;
        cursor: default;
        background-color: #337ab7;
        border-color: #337ab7;
    }
</style>
<h2 style="text-align: center">Tickets</h2>
@if (@TempData["Cancel"] != null)
{
    <div class="alert alert-success" role="alert">
        <b>  @TempData["Cancel"]</b>
    </div>
}

@if (@TempData["Result"] != null)
{
    <div class="alert alert-success" role="alert">
        <b>@TempData["Result"]</b>
    </div>
}

<div id="partialView">
    @{
        Html.RenderAction("Page", "BookingTickets", new { page = 1 });
    }
    @*@Html.Partial("_Ticket")*@
</div>
<script type="text/javascript">
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 3000);
</script>